* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Titillium Web', sans-serif !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}
